@import 'styles/utils.scss';

.sub-wrapper {
  width: 75%;
  margin: 0 auto;
  padding-left: 1rem;



  @include media("<large") {
    width: 100%;
  }
  @include media("<medium") {
    text-align: center;
    width: 30rem;
    padding-right: 7rem;
    transform: translateX(-2rem);
    margin-bottom: 3rem;
  }
}
