@import 'styles/utils.scss';

.sub-wrapper {
  width: 75%;
  margin: 0 auto;
  margin-left: 1rem;

  @include media("<large") {
    width: 100%;
    margin-left: 0;
    padding: 0 1rem 0 1rem;
  }
  @include media("<medium") {
    padding: 0 3rem 0 3rem;
  }
}
