@import 'styles/utils.scss';


.recent-list {
  width: 25%;
  margin-bottom: 5rem;
  margin-top: 1.05rem;

  .label {
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
    align-content: center;
    color: $oc-gray-6;
    margin-bottom: 3rem;
  }

  .recent-item {
    margin-top: 2rem;
    transform: translateX(0.25rem);
    background: white;
    border-radius: 0.1rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.07);
    height: 33%;
    &:hover {
      box-shadow: 0px 5px 1rem 10px darken($oc-gray-6, 10%);
      cursor: pointer;
    }

    .column {
      img {
        background-position: center;
        background-color: #DBE0E6;
        background-size: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        max-width: 100%;


        @include media("<large") {
          width: 100%;
          height: 10rem;
        }
      }

      .content {
        padding: 1rem;

        .title {
          font-size: 1rem;
          font-weight: 400;
          color: $oc-gray-6;
          margin-bottom: 0.1rem;
          display: block;

          &:hover {
            text-decoration: darkgrey underline;
          }
        }

        .author {
          font-size: 0.8rem;
          font-weight: 150;
        }

      }
      &:hover {
        // 마우스 호버할 때 배경색 변경
        background: rgba($oc-gray-6, 0.05);
      }
    }

  }

  .recent-item + .recent-item {
    margin-top: 5rem;
  }

  @include media("<large") {
    width: 70%;
    margin-top: 3rem;
    margin-left: 0;
  }

}
