@import 'styles/utils.scss';


.post-item {
  border-radius: 8px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 2rem;
  margin-right: 3rem;

  img {
    background-position: center center;
    background-image: url('https://picsum.photos/740/420/?random');
    background-color: rgb(219, 224, 230);
    background-size: cover;
    width: 30%;
    height: 100%;
  }

  .content {
    border-radius: 8px;
    color: white;
    background-color: white;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .title {
      font-size: 24px;
      font-weight: 200;
      color: #1F2126;
      margin-bottom: 15px;
      display: block;

      &:hover {
        text-decoration: darkgrey underline;
      }
    }

    .sub {
      color: $oc-gray-6;
      margin-bottom: 15px;
      display: block;
    }

    .text {
      color: #9ca1ae;
      line-height: 1.5;
    }

    .tags {
      margin-top: 1rem;
    }

    &:hover {
        // 마우스 호버할 때 배경색 변경
        background: rgba($oc-gray-6, 0.05);
    }
  }
}

