@import 'styles/utils.scss';


.post-item {
  width:40rem;
  display: block;
  margin: 60px auto;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.07);
  transition: .25s;
  border-radius: 0.5rem;
  display: flex;

  &:hover {
    box-shadow: 0px 5px 20px 10px darken($oc-gray-6, 10%);
    cursor: pointer;
  }

  .image {
    background-image: url('https://picsum.photos/740/420/?random');

    padding: 15px;
    width:25%;
    background-size:cover;
    color:#fff;

    .category {
      text-transform: uppercase;
      margin: 0;
    }
    @include media("<medium") {
      flex: none !important;

    }
  }

  .content {
    padding: 15px;
    background-color:#fff;
    width:75%;

    .title {
      font-size: 1.5rem;
      font-weight: 400;
      color: $oc-gray-6;
      margin-bottom: 1rem;
      display: block;

      &:hover {
        text-decoration: darkgrey underline;
      }
    }

    .sub {
      font-size: 0.8rem;
      font-weight: 400;
      color: grey;
    }

    .text {
      padding-bottom: 40px;
      font-size: 1rem;
      font-weight: 200;
      line-height: 1.7;
    }

    .tags {
      margin-top: 1rem;
    }

    &:hover {
        // 마우스 호버할 때 배경색 변경
        background: rgba($oc-gray-6, 0.05);
    }
  }
      @include media("<medium") {
        width: 100%;
      }
}

