@import 'styles/utils.scss';

.landing-wrapper {
  margin: 0 auto;
  margin-top: 5rem;
  align-content: center;

  display: flex;

  width: 800px;
    @include media("<large") { width : 768px; }
    @include media("<medium") { width: calc(100% - 2rem); }
}
