@import 'styles/utils.scss';

.post-wrapper {
  width: 75%;
  margin-right: 2rem;
  border-right: 1px solid $oc-gray-5;

  @include media("<large") {
    width: 100%;
    border-right: none;
    margin-right: 0;
  }
}
