@import 'styles/utils.scss';

.post-list{
  width: 75%;

  border-right: 1px solid $oc-gray-5;

  .label {
    font-size: 1.5rem;
    font-weight: 100;
    align-content: center;
    color: $oc-gray-6;
    margin-bottom: 3rem;
  }

  .post-item + .post-item {
    border-top: 1 solid $oc-gray-3;
  }

  @include media("<large") {
    border-right: none;
  }

}


