@import 'styles/utils.scss';

.landing {
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  transform: translateY(2.3rem);
  text-align: center;
  padding: 1rem;

  .lg-heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;

    .text-secondary {
      color: $oc-gray-8;
    }
  }

  .sm-heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1rem;
    color: $oc-gray-8;
  }

  img {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    align-content: center;
  }

    .icons {
        margin-top: 1rem;
         .icon{
            padding: 0.4rem;
            &:hover {
                color: gray;
            }
        }
    }

    width: 800px;
    @include media("<large") { width : 768px; }
    @include media("<medium") { width: calc(100% - 2rem); }

}
