@import 'styles/utils.scss';

.list-wrapper {
    width: 1024px;
    margin: 0 auto;

    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;


    @include media("<large") {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
