@import 'styles/utils.scss';


.recompost-list {
  width: 25%;
  margin-left: 3rem;

  .recompost-item {
    background: white;
    height: 15rem;
    border-radius: 8px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.07);

    .column {
      img {
        background-position: center;
        background-color: #DBE0E6;
        background-size: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .content {
        padding: 1rem;

        .title {
          font-size: 1.3rem;
          font-weight: 900;
          color: #1F2126;
          margin-bottom: 0.5rem;
          display: block;
        }

        .author {
          font-size: 0.8rem;
          font-weight: 150;
        }

        .tags {
          font-size: 0.85rem;
          color: $oc-blue-6;
          margin-top: 1rem;
          a {
              &:hover {
                  color: $oc-blue-5;
                  text-decoration: underline;
              }
          }
          a + a {
              margin-left: 0.4rem;
          }
        }
      }
      &:hover {
        // 마우스 호버할 때 배경색 변경
        background: rgba($oc-gray-6, 0.05);
      }
    }

  }





  .recompost-item + .recompost-item {
    border-top: 1px solid $oc-gray-3;
    margin-top: 3rem;
  }
}
