@import 'styles/utils.scss';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1.5px solid $oc-gray-4;
  .f-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 77px;
    padding: 25px 40px;
    .f-logo {
      display: flex;
      -webkit-box-align: baseline;
      align-items: baseline;
      .copyright {
        font-size: 0.75rem;
        margin-right: 1rem;
        color: rgb(96, 111, 123);
        letter-spacing: 0.01em;
      }
      .brand {
        letter-spacing: 0.05em;
        line-height: 1.5;
        font-weight: 700;
        color: rgb(61, 72, 82);
        font-family: "Cormorant Garamond";
        text-decoration: none;
      }
    }
    .navbar-link {
      -webkit-box-align: center;
      align-items: center;
      list-style: none;
      display: flex;
      padding: 0px;
      .nav-item {
        margin-left: 1rem;
        .link {
          color: rgb(96, 111, 123);
          letter-spacing: 0.01em;
          text-decoration: none;
        }
      }
    }
  }
  @include media("<small") {
    font-size: 10px;
  }
}
