@import 'styles/utils.scss';

.editor-header {
  background: $oc-gray-7;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $oc-gray-4;

  .right {
    margin-left: auto;
    display: flex;
    .update { // 우측 정렬
      margin-right: 1rem;
    }
  }

}
