@import 'styles/utils.scss';

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1.5px solid $oc-gray-4;

  .inner {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 77px;
    padding: 25px 40px;


    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;


      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
      .logo {
        display: flex;

        .logo-i {
          max-width: 4rem;
          @include media("<medium") {
            display: none;
          }
        }
        .logo-t {
          letter-spacing: 0.05em;
          line-height: 2;
          font-size: 1rem;
          font-weight: 700;
          color: rgb(61, 72, 82);
          font-family: "Cormorant Garamond";
          text-decoration: none;
        }
      }

      .searchInput {
        max-width: 215px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border: solid 1px #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 15px;
        &::placeholder {
          color: $oc-gray-4;
        }
        &:focus {
          outline: none;
          background-color: white;
        }
      }
      .right {
        // 오른쪽 내용
        margin-left: auto;
        @include media("<medium") {
          font-size: 12px;
        }
        @include media("<small") {
          font-size: 10px;
        }
        &:hover {
          color: $oc-gray-5;
        }
        img {
          width: 2.8rem;
          border-radius: 100%;
          margin-top: 0.3rem;
          @include media("<small") {
            width: 2rem;
          }

          &:hover {
            @include material-shadow(2, 0.5);
          }
        }
      }
    }
  }
}
