@import 'styles/utils.scss';

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1.5px solid $oc-gray-4;

  .inner {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 77px;
    padding: 25px 40px;

    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;

      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
      .logo {
        display: flex;

        .logo-i {
          max-width: 4rem;
        }
        .logo-t {
          letter-spacing: 0.05em;
          line-height: 2;
          font-size: 1rem;
          font-weight: 700;
          color: rgb(61, 72, 82);
          font-family: "Cormorant Garamond";
          text-decoration: none;
        }
      }

      .searchInput {
        max-width: 215px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        border: solid 1px #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 15px;
        &::placeholder {
          color: $oc-gray-4;
        }
        &:focus {
          outline: none;
          background-color: white;
        }
      }
      .right {
        // 오른쪽 내용
        margin-left: auto;
        &:hover {
          color: $oc-gray-5;
        }
        @include media("<medium") {
          display: none;
        }
        .menu-btn {
          position: absolute;
          z-index: 3;
          right: 35px;
          top: 35px;
          cursor: pointer;
          transition: all 1.0s ease-out; }
          .btn-line {
            width: 1.5rem;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            transition: all 1.0s ease-out; }
          .menu-btn.close {
            transform: rotate(180deg); }
            .menu-btn.close .btn-line:nth-child(1) {
              transform: rotate(45deg) translate(5px, 5px); }
            .menu-btn.close .btn-line:nth-child(2) {
              opacity: 0; }
            .menu-btn.close .btn-line:nth-child(3) {
              transform: rotate(-45deg) translate(7px, -6px); }
        @include media("<medium") {
          display: inline;

          }

        img {
          width: 2.8rem;
          border-radius: 100%;
          margin-top: 0.3rem;

          &:hover {
            @include material-shadow(2, 0.5);
          }
        }
      }
    }
  }
}
