@import 'styles/utils.scss';

.post-info {
  .info {
    padding: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: white;
    @include material-shadow(4, 0.5);
    transform: translateY(2.3rem);
    margin: 0 auto;
    min-height: 10rem;

    .title {
      font-size: 2rem;
      font-weight: 200;
      word-wrap: break-word; // 내용이 너무 길면 다음 줄에 작성
    }

    .sub {
      font-size: 1rem;
      word-wrap: break-word; // 내용이 너무 길면 다음 줄에 작성
      text-align: right;
      opacity: 0.5;
      font-style: italic;
      margin-top: 1rem;
    }

    .tags {
      margin-top: 1rem;
    }

    // 해상도에 따라 다른 width를 설정
    width: 1024px;
    @include media("<large") { width : 768px; }
    @include media("<medium") { width: calc(100% - 2rem); }
  }
}
