@import 'styles/utils.scss';

.recent-wrapper {
  width: 25%;
  margin: 0 auto;
  text-align: center;


  @include media("<large") {
    text-align: center;
    justify-content: center;
  }
  @include media("<medium") {
    width: 65%;
  }
}
