@import 'styles/utils.scss';

.post-body {
  margin: 10px;
  margin-right: 30px;
  transform: translateY(-2rem);
  .paper {
    padding: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: white;
    @include material-shadow(4, 0.5);
    margin: 0 auto;
    min-height: 10rem;
    margin-top: 5rem;
    @include media("<medium") {
      padding: 1rem;
    }

    // 해상도에 따라 다른 width를 설정

    @include media("<large") { width : 768px; }
    @include media("<medium") {
      width: 100%;
      margin-left: 0.5rem;
    }
  }
}
